<div class="full-height full-width flex">
    <div class="height-90 full-width  padding-10px">
        <div *ngIf="(!userLeaves?.length && user.role === 'employee')" class="full-height">
            <div class="flex jc-end">
                <button mat-raised-button class="" (click)="applyLeave()" *ngIf="user.role === 'employee'"
                    color="primary">Apply Leave</button>
            </div>
            <div class="full-height">
                <img class="full-height full-width" src="../../../assets/nonfound.jpg" alt="" srcset="">
                <!-- <small>No request</small> -->
            </div>
        </div>
        <mat-tab-group (selectedIndexChange)="selectedIndex($event)"
            *ngIf="(user.role === 'employee' && userLeaves?.length) || (user.role === 'operations personnel' && userLeaves?.length) || (user.role === 'manager' && userLeaves?.length)">
            <mat-tab label="Leaves">
                <div class="full-width">
                    <h2 class="flex center-center no-margin" *ngIf="user.role === 'employee'">Apply Leave
                    </h2>
                    <h2 class="flex center-center no-margin"
                        *ngIf="user.role === 'operations personnel' || user.role === 'manager'">Leaves</h2>
                    <div>
                        <app-table [dataSource]="dataSource" [columnNames]="columnNames"
                            [displayedColumns]="displayedColumns"></app-table>
                    </div>
                    <div class="flex center-center margin-10">
                        <button mat-raised-button class="" (click)="applyLeave()"
                            *ngIf="user.role === 'employee'" color="primary">Apply Leave</button>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Approved Leaves">
                <div>
                    <h2 class="flex center-center no-margin"
                        *ngIf="user.role === 'operations personnel' || user.role === 'manager'">userLeaves</h2>
                    <div>
                        <app-table [dataSource]="dataSource" [columnNames]="columnNames"
                            [displayedColumns]="displayedColumns"></app-table>
                    </div>
                    <div class="flex center-center margin-10">
                        <button mat-raised-button class="" (click)="applyLeave()"
                            *ngIf="user.role === 'employee'" color="primary">Apply Leave</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Declined Leaves">
                <div>
                    <h2 class="flex center-center no-margin"
                        *ngIf="user.role === 'operations personnel' || user.role === 'manager'">Leaves</h2>
                    <div>
                        <app-table [dataSource]="dataSource" [columnNames]="columnNames"
                            [displayedColumns]="displayedColumns"></app-table>
                    </div>
                    <div class="flex center-center margin-10">
                        <button mat-raised-button class="" (click)="applyLeave()"
                            *ngIf="user.role === 'employee'" color="primary">Apply Leave</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>