<form #_policyForm="ngForm" class=" padding-20px flex column">
    <mat-form-field class="example-full-width">
        <mat-label>Policy Name</mat-label>
        <input matInput #policyName="ngModel" [(ngModel)]="policyForm.policyName" name="policyName"  
        placeholder="Ex. Privacy Policy" required>
        <mat-error *ngIf="!policyName.valid && policyName.errors && policyName.errors['required']">
            Policy Name is <b>required</b>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Category</mat-label>
        <input matInput #category="ngModel" [(ngModel)]="policyForm.category" name="category" 
        placeholder="Ex. Privacy Policy" required>
        <mat-error *ngIf="!category.valid && category.errors && category.errors['required']">
            Category is <b>required</b>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Overview</mat-label>
        <textarea matInput #overview="ngModel" [(ngModel)]="policyForm.overview" name="overview" 
        placeholder="Ex. Everyone is has a right to privacy..." required></textarea>
        <mat-error *ngIf="!overview.valid && overview.errors && overview.errors['required']">
            Overview is <b>required</b>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Purpose</mat-label>
        <textarea matInput #purpose="ngModel" [(ngModel)]="policyForm.purpose" name="purpose" 
        placeholder="Ex. To ensure that every employee exercises their right to privacy..." required></textarea>
        <mat-error *ngIf="!purpose.valid && purpose.errors && purpose.errors['required']">
            Purpose is <b>required</b>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Objective</mat-label>
        <textarea matInput #objective="ngModel" [(ngModel)]="policyForm.objective" name="objective" 
        placeholder="Ex. To protect the employees right to privacy..." required></textarea>
        <mat-error *ngIf="!objective.valid && objective.errors && objective.errors['required']">
            Objective is <b>required</b>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Guidlines</mat-label>
        <textarea matInput #guidlines="ngModel" [(ngModel)]="policyForm.guidlines" name="guidlines" 
        placeholder="Ex. Never inteferee with onother's employee privacy..." required></textarea>
        <mat-error *ngIf="!guidlines.valid && guidlines.errors && guidlines.errors['required']">
            Guidlines are <b>required</b>
        </mat-error>
    </mat-form-field>
    <div class="flex center-center gap-2em">
        <button mat-raised-button (click)="close()" class="" color="accent">Cancel</button>
        <button mat-raised-button (click)="submit(_policyForm)" class="" color="primary">{{isUpdate ? 'Update' : 'Add' }} Policy</button>
    </div>

</form>