<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="main-container full-height flex">
    <nav class="width-20 flex column">
        <div class="height-90 flex column spacebetween">
            <div class="full-width">
                <img class="hr-logo" src="../../../assets/hr.svg" alt="">
            </div>
            <div class="margin-0px-30px">
                <p class="link" *ngFor="let item of menuItems" [routerLink]="item.route"
                    routerLinkActive="active-route">{{item.menu}}</p>
            </div>
            <div class="full-width">
                <hr>
                <div class="profile flex margin-0px-30px start-center gap-05em">
                    <div class="initials flex center-center">
                        <p>{{initials}}</p>
                    </div>
                    <p [matTooltip]="user.role">{{user.firstName[0]}} {{user.lastName}}</p>
                    <span matTooltip="Extend" class="material-symbols-outlined" (click)="viewMore(); Extend()"
                        [class.transform]="scale">expand_more</span>
                </div>
            </div>
        </div>
        <div class="extend flex column center-center gap-05em" [ngClass]="extend ? 'visible' : 'hide'">
            <span class="material-symbols-outlined" (click)="openProfile()" matTooltip="Profile">person</span>
            <span class="material-symbols-outlined" (click)="LogOut()" matTooltip="Log Out"> logout</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Notifications" (click)="openNotifications()">
                <mat-icon>notifications</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let notification of notifications">
                    <div>
                        <small>{{notification.message}}</small>
                        <small class="margin-left-100px">{{notification.date | date}}</small>
                    </div>
                </button>
            </mat-menu>
        </div>
    </nav>
    <section class="full-width">
        <router-outlet class="full-width"></router-outlet>
    </section>
</div>