$btn-bg-color: grey;
$bg-color: #252525;
$bg-grey: grey;

.table {
    height: 440px;
    overflow-x: auto;
    button {
        color: white;
        // flex: 
    }
}

input[type='file'] {
    display: none;
}

label {
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    background-color: $btn-bg-color;
    color: black;
    font-size:larger;
    font-weight: 700;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 5px lightgray;
        background-color: black;
        color: white;
    }
}

.block { 
    display: block;
 }

.disabled {
    background-color: $bg-color;
}

.enabled {
    background-color: $bg-grey;
}