<div class="full-height full-width flex">
    <div class="standard-height full-width  padding-10px">
        <div *ngIf="(!userTravels?.length && user.role === 'employee')" class="full-height">
            <div class="flex jc-end">
                <button mat-raised-button class="" (click)="travelReq()" *ngIf="user.role === 'employee'"
                    color="primary">Request travel</button>
            </div>
            <div class="full-height">
                <img class="full-height full-width" src="../../../assets/nonfound.jpg" alt="" srcset="">
                <!-- <small>No request</small> -->
            </div>
        </div>
        <mat-tab-group (selectedIndexChange)="selectedIndex($event)" class="full-height"
            *ngIf="(user.role === 'employee' && userTravels?.length) || (user.role === 'operations personnel' && userTravels?.length) || (user.role === 'manager' && userTravels?.length)">
            <mat-tab label="Travel Requests">
                <div class="full-width flex column gap-05em full-height">
                    <div class="table-container">
                        <app-table [dataSource]="dataSource" [columnNames]="columnNames"
                            [displayedColumns]="displayedColumns"></app-table>
                    </div>
                    <div class="flex jc-end margin-10 height-40px">
                        <button mat-raised-button class="" (click)="travelReq()" *ngIf="user.role === 'employee'"
                            color="primary">Request transport</button>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Approved Travel Requests">
                <div class="flex column gap-05em full-height">
                    <div class="table-container">
                        <app-table [dataSource]="dataSource" [columnNames]="columnNames"
                            [displayedColumns]="displayedColumns"></app-table>
                    </div>
                    <div class="flex jc-end margin-10 height-40px">
                        <button mat-raised-button class="" (click)="travelReq()" *ngIf="user.role === 'employee'"
                            color="primary">Request travel</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Declined Travel Requests">
                <div class="flex column gap-05em full-height">
                    <div class="table-container">
                        <app-table [dataSource]="dataSource" [columnNames]="columnNames"
                            [displayedColumns]="displayedColumns"></app-table>
                    </div>
                    <div class="flex jc-end margin-10 height-40px">
                        <button mat-raised-button class="" (click)="travelReq()" *ngIf="user.role === 'employee'"
                            color="primary">Request travel</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="overlay" *ngIf="showLoader">
        <div class="loader"></div>
    </div>
</div>