<div class="flex gap-2em flex wrap">
    <div *ngFor="let request of requests, let i = index" class="width-40 flex column center-center req-card">
        <div *ngFor="let status of request.statuses">
            <div *ngIf="request.reqName === 'GuestHouse'" class="flex column">
                <p class="no-margin">{{request.reqName}}</p>
                <p>Pending: {{guesthouseSubmitted}}</p>
                <p>Approved: {{guesthouseApproved}}</p>
                <p>Declined: {{guesthouseRejected}}</p>
            </div>
        </div>
        <div *ngFor="let status of request.statuses">
            <div *ngIf="request.reqName === 'Travel'" class="flex column">
                <p class="no-margin">{{request.reqName}}</p>
                <p>Pending: {{travelsSubmitted}}</p>
                <p>Approved: {{travelsApproved}}</p>
                <p>Declined: {{travelsRejected}}</p>
            </div>
        </div>
        <div *ngFor="let status of request.statuses">
            <div *ngIf="request.reqName === 'Transport'" class="flex column">
                <p class="no-margin">{{request.reqName}}</p>
                <p>Pending: {{transportSubmitted}}</p>
                <p>Approved: {{transportApproved}}</p>
                <p>Declined: {{transportRejected}}</p>
            </div>
        </div>
        <div *ngFor="let status of request.statuses">
            <div *ngIf="request.reqName === 'Visa'" class="flex column">
                <p class="no-margin">{{request.reqName}}</p>
                <p>Pending: {{visaSubmitted}}</p>
                <p>Approved: {{visaApproved}}</p>
                <p>Declined: {{visaRejected}}</p>
            </div>
        </div>
    </div>
</div>