<div class="req-card flex column center-center">
    <p class="no-margin">GuestHouse</p>
    <small>Submitted: {{guesthouseSubmitted}}</small>
    <small>Approved: {{guesthouseApproved}}</small>
    <small>Rejected: {{guesthouseRejected}}</small>
</div>
<div class="req-card flex column center-center">
    <p class="no-margin">Transport</p>
    <small>Submitted: {{transportSubmitted}}</small>
    <small>Approved: {{transportApproved}}</small>
    <small>Rejected: {{transportRejected}}</small>
</div>
<div class="req-card flex column center-center">
    <p class="no-margin">Travel</p>
    <small>Submitted: {{travelsSubmitted}}</small>
    <small>Approved: {{travelsApproved}}</small>
    <small>Rejected: {{travelsRejected}}</small>
</div>
<div class="req-card flex column center-center">
    <p class="no-margin">Visa</p>
    <small>Submitted: {{visaSubmitted}}</small>
    <small>Approved: {{visaApproved}}</small>
    <small>Rejected: {{visaRejected}}</small>
</div>