<div class=" full-height padding-10px">

    <div class="" *ngIf="user.role === 'admin'" class="flex jc-end">
        <label for="addPolicy" class="upload-policy custom-upload flex center-center pointer"> Upload Policy<input id="addPolicy"
                type="file" (change)="readDocument($event)"></label>

    </div>
    <div class="full-width">
        <!-- <h2 class="flex center-center">View, Edit and Delete Policies</h2> -->
        <!-- <h3 *ngIf="!dataSource">Currently the are no policies, Click the button below to
            add policies for employees to view and download </h3> -->
        <div class="table">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>

            <div class="mat-elevation-z8 full-width">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Policy Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.policyName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="uploadedDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.uploadDate | date }} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="flex center-center inherit-height">
                            Action </th>
                        <td mat-cell *matCellDef="let row, let i = index"
                            class="download pointer flex gap-1em center-center">
                            <mat-icon matTooltip="re-upload">upload</mat-icon>
                            <mat-icon matTooltip="View Policy" (click)="viewPolicy()">visibility</mat-icon>
                            <mat-icon matTooltip="Delete Policy">delete</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="download">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Download </th>
                        <td mat-cell *matCellDef="let row, let i = index" class="download pointer">
                            <mat-icon>download</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</div>