/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Bubbles&display=swap');

$primary-color: white;
$bg-color: #252525;
$bg-grey: grey;
$light-grey: lightgray;


html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

// background and text colors
.bg-color {
    background-color: $bg-color;
}

.color {
    color: $bg-color;
}

// Flex styles

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.gap-1em {
    gap: 1em;
}

.gap-2em {
    gap: 2em;
}

.gap-05em {
    gap: 0.5em;
}

.start-center {
    align-items: center;
}

.spacebetween {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.jc-end {
    justify-content: end;
}

.link {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.active-route {
    text-decoration: underline;
}

// Size styles
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.standard-height {
    height: calc(100% - 20px);
}

.half-width {
    width: 50%;
}

.height-90 {
    height: 90%;
}

.width-90 {
    width: 90%;
}

.width-20 {
    width: 20%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%
}

.btn {
    background-color: $bg-color;
    color: black;
    font-weight: 600;
    font-size: larger;
    height: 50px !important;

    &:hover {
        color: white !important;
        background-color: black !important;
    }
}


.hr-logo {
    width: 80px;
    height: 80px
}

.profile span,
.extend span {
    &:hover {
        cursor: pointer;
    }
}

// Common styles
.no-margin {
    margin: 0
}

.margin-top {
    margin-top: 100px;
}

.margin-0px-30px {
    margin: 0px 30px;
}

.padding-20px {
    padding: 0px 20px;
    box-sizing: border-box;
}

.padding-10px {
    padding: 10px;
    box-sizing: border-box;

}

.padding-0px-10px {
    padding: 0px 10px;
}

#approved-btn[disabled] {
    background-color: $bg-color;
    color: white;
}

#rejected-btn[disabled] {
    background-color: $bg-grey;
    color: white;
}

.send-btn {
    &:hover {
        cursor: pointer;
    }
}

form {
    background-color: $bg-color;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}


// Customize a mat-expansion

.mat-accordion .mat-expansion-panel {
    background-color: $primary-color;
    color: white;
}


.mdc-line-ripple::before,
.mdc-line-ripple::after {
    position: relative !important;
}

.mat-input {
    .mat-mdc-text-field-wrapper {
        height: 40px !important;
        padding: 5px 10px !important;
        border-radius: 5px !important;
    }
}

.download {
    .mat-icon {
        color: grey;
    }
}

.custom-upload {
    padding: 5px 10px;
    border-radius: 10px;
    background: lightgray;
}


canvas {
    width: 100%;
    height: 100%;
}

.download {
    // width: 100px;
    height: inherit;
}

.pointer {
    cursor: pointer;
}

.padding-left {
    padding-left: 10px;
    box-sizing: border-box;
}

.inherit-height {
    height: inherit;
}

.card {
    width: 250px;
    height: 250px;
}

.extend span {
    &:hover {
        color: white !important;
        background-color: black !important;
    }

}

.text-center {
    text-align: center;
}

.mat-mdc-tab-body-wrapper {
    height: 100%;
}

.table-container {
    height: calc(100% - 50px);
}

app-table {
    display: block;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    opacity: 0.9;
    z-index: 1;
}

// loader
.loader {
    width: 40px;
    height: 26px;
    --c: no-repeat linear-gradient(#000 0 0);
    background:
        var(--c) 0 100%,
        var(--c) 50% 100%,
        var(--c) 100% 100%;
    background-size: 8px calc(100% - 4px);
    position: relative;
}

.loader:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    left: 0;
    top: 0;
    animation:
        l3-1 1.5s linear infinite alternate,
        l3-2 0.75s cubic-bezier(0, 200, .8, 200) infinite;
}

@keyframes l3-1 {
    100% {
        left: calc(100% - 8px)
    }
}

@keyframes l3-2 {
    100% {
        top: -0.1px
    }
}

// mat table custom styles

.search-inp {
    .mdc-text-field--filled {
        height: 44px !important;
    }
}

.custom-table {

    .mat-mdc-table .mdc-data-table__header-row {
        height: 33px;
    }

    .mat-mdc-paginator .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .mat-mdc-form-field-flex,
    .mat-mdc-paginator-range-actions {
        height: 32px !important;
    }

    .mat-mdc-paginator-container {
        min-height: auto;
    }

    .mat-mdc-table .mdc-data-table__row {
        height: 32px;
    }

    .mat-mdc-paginator-container {
        padding: 8px !important;
    }

    thead {
        background: $light-grey !important;
    }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: $bg-color !important;
}