<div class="full-height full-width flex center-center">
    <div class="height-90 full-width">
        <div *ngIf="(!reqGuestHouse?.length && user.role === 'employee')">
            <h2 class="text-center no-margin">Make GuestHouse Request</h2>
            <h3>You currently have no GuestHouse request, you haven't made any request. Click the button below to make
                requests.</h3>
            <div class="flex center-center margin-10">
                <button mat-raised-button class="" (click)="guesthouseRequest()" *ngIf="user.role === 'employee'"
                    color="primary">Request GuestHouse</button>
            </div>
        </div>
        <div *ngIf="!reqGuestHouse?.length && (user.role === 'operations personnel' || user.role === 'manager')">
            <h2>View GuestHouse Request</h2>
            <h3>There are currently no GuestHouse request, Employee hasn't made any request.</h3>
        </div>

        <mat-tab-group
            *ngIf="(user.role === 'employee' && reqGuestHouse?.length) || (user.role === 'operations personnel' && userGuestHouse?.length) || (user.role === 'manager' && reqGuestHouse?.length)">
            <mat-tab label="GuestHouse Requests">
                <div class="full-width">
                    <h2 class="flex center-center no-margin" *ngIf="user.role === 'employee'">Make GuestHouse Request
                    </h2>
                    <h2 class="flex center-center no-margin"
                        *ngIf="user.role === 'operations personnel' || user.role === 'manager'">GuestHouse Requests</h2>
                    <div>
                        <div class="table">
                            <mat-form-field>
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                            </mat-form-field>

                            <div class="mat-elevation-z8 full-width">
                                <table mat-table [dataSource]="dataSource" matSort>

                                    <!-- Surname Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> GuestHouse Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.guestHouseName}} </td>
                                    </ng-container>

                                    <!-- Department Column -->
                                    <ng-container matColumnDef="checkInDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check In Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.checkInDate | date}} </td>
                                    </ng-container>

                                    <!-- Occupation Column -->
                                    <ng-container matColumnDef="checkOutDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check Out Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.checkOutDate | date}} </td>
                                    </ng-container>


                                    <div *ngIf="user.role !== 'employee'">
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="employeeEmail">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Email </th>
                                            <td mat-cell *matCellDef="let row"> {{row.requestedByEmail}} </td>
                                        </ng-container>
                                    </div>

                                    <!-- Occupation Column -->
                                    <div *ngIf="user.role !== 'manager'">
                                        <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                                        </ng-container>
                                    </div>

                                    <!-- Occupation Column -->
                                    <div *ngIf="user.role === 'manager'">
                                        <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                            <td mat-cell *matCellDef="let row">
                                                <!-- Change Status -->
                                                <button mat-raised-button matTooltip="Update status" id='approved-btn'
                                                    [color]="row.status === 'Rejected' ? 'accent' : row.status === 'Approved' ? 'primary' : 'warn' "
                                                    [matMenuTriggerFor]="menu">{{row.status | titlecase}}</button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="statusUpdate(status, row.reqID)"
                                                        *ngFor="let status of statuses">{{status | titlecase}}</button>
                                                </mat-menu>
                                            </td>
                                        </ng-container>
                                    </div>

                                    <!-- Department Column -->
                                    <ng-container matColumnDef="download">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Download </th>
                                        <td mat-cell *matCellDef="let row, let i = index" class="download pointer">
                                            <button (click)="generatePdf(row)" mat-mini-fab color="accent"
                                                aria-label="Example icon button with a plus one icon">
                                                <mat-icon>download</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                        </td>
                                    </tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                    aria-label="Select page of users"></mat-paginator>
                            </div>
                        </div>
                    </div>
                    <div class="flex center-center margin-10">
                        <button mat-raised-button class="" (click)="guesthouseRequest()"
                            *ngIf="user.role === 'employee'" color="primary">Request Guest House</button>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Approved GuestHouse Request">
                <h3 *ngIf="!approvedDataSource.length">
                    There are currently no approved GuestHouse request, manager hasn't approved any.
                </h3>
                <div class="full-width" *ngIf="approvedDataSource.length">
                    <div>
                        <div class="table">
                            <mat-form-field>
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                            </mat-form-field>

                            <div class="mat-elevation-z8 full-width">
                                <table mat-table [dataSource]="approvedDataSource" matSort>

                                    <!-- Surname Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> GuestHouse Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.guestHouseName}} </td>
                                    </ng-container>

                                    <!-- Department Column -->
                                    <ng-container matColumnDef="checkInDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check In Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.checkInDate | date}} </td>
                                    </ng-container>

                                    <!-- Occupation Column -->
                                    <ng-container matColumnDef="checkOutDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check Out Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.checkOutDate | date}} </td>
                                    </ng-container>


                                    <div *ngIf="user.role != 'employee'">

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="employeeEmail">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Email </th>
                                            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                                        </ng-container>
                                    </div>

                                    <!-- Occupation Column -->
                                    <div *ngIf="user.role !== 'manager'">
                                        <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                                        </ng-container>
                                    </div>

                                    <!-- Occupation Column -->
                                    <div *ngIf="user.role === 'manager'">
                                        <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                            <td mat-cell *matCellDef="let row">
                                                <!-- Change Status -->
                                                <button mat-raised-button matTooltip="Update status" id='approved-btn'
                                                    [disabled]="row.status === 'Approved' || row.status === 'declined'"
                                                    [color]="row.status === 'declined' ? 'accent' : row.status === 'Approved' ? 'primary' : 'warn' "
                                                    [matMenuTriggerFor]="menu">{{row.status | titlecase}}</button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="statusUpdate(status, row.reqID)"
                                                        *ngFor="let status of statuses">{{status | titlecase}}</button>
                                                </mat-menu>
                                            </td>
                                        </ng-container>
                                    </div>

                                    <!-- Department Column -->
                                    <ng-container matColumnDef="download">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Download </th>
                                        <td mat-cell *matCellDef="let row, let i = index" class="download pointer">
                                            <button (click)="generatePdf(row)" mat-mini-fab color="accent"
                                                aria-label="Example icon button with a plus one icon">
                                                <mat-icon>download</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                        </td>
                                    </tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                    aria-label="Select page of users"></mat-paginator>
                            </div>
                        </div>
                    </div>
                    <div class="flex center-center margin-10">
                        <button mat-raised-button class="" (click)="guesthouseRequest()"
                            *ngIf="user.role === 'employee'" color="primary">Request Guest House</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="declined GuestHouse Request">
                <div class="full-width">
                    <h3 *ngIf="!declinedDataSource.length">
                        There are currently no declined GuestHouse request, manager hasn't declined any GuestHouse
                        requests.
                    </h3>
                    <div>
                        <div class="table" *ngIf="declinedDataSource.length">
                            <mat-form-field>
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                            </mat-form-field>

                            <div class="mat-elevation-z8 full-width">
                                <table mat-table [dataSource]="declinedDataSource" matSort>

                                    <!-- Surname Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> GuestHouse Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.guestHouseName}} </td>
                                    </ng-container>

                                    <!-- Department Column -->
                                    <ng-container matColumnDef="checkInDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check In Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.checkInDate | date}} </td>
                                    </ng-container>

                                    <!-- Occupation Column -->
                                    <ng-container matColumnDef="checkOutDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check Out Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.checkOutDate | date}} </td>
                                    </ng-container>

                                    <div *ngIf="user.role != 'employee'">

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="employeeEmail">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Email </th>
                                            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                                        </ng-container>
                                    </div>

                                    <!-- Occupation Column -->
                                    <div *ngIf="user.role !== 'manager'">
                                        <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                                        </ng-container>
                                    </div>

                                    <!-- Occupation Column -->
                                    <div *ngIf="user.role === 'manager'">
                                        <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                            <td mat-cell *matCellDef="let row">
                                                <!-- Change Status -->
                                                <button mat-raised-button matTooltip="Update status" id='approved-btn'
                                                    [disabled]="row.status === 'Approved' || row.status === 'declined'"
                                                    [color]="row.status === 'declined' ? 'accent' : row.status === 'Approved' ? 'primary' : 'warn' "
                                                    [matMenuTriggerFor]="menu">{{row.status | titlecase}}</button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="statusUpdate(status, row.appID)"
                                                        *ngFor="let status of statuses">{{status | titlecase}}</button>
                                                </mat-menu>
                                            </td>
                                        </ng-container>
                                    </div>

                                    <!-- Department Column -->
                                    <ng-container matColumnDef="download">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Download </th>
                                        <td mat-cell *matCellDef="let row, let i = index" class="download pointer">
                                            <button (click)="generatePdf(row)" mat-mini-fab color="accent"
                                                aria-label="Example icon button with a plus one icon">
                                                <mat-icon>download</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                        </td>
                                    </tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                    aria-label="Select page of users"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>